@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.contact {
  text-align: center;
  font-size: 12px;
  padding: 4px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

iframe {
  width: 95%;
  height: 33%;
  max-width: 560px;
  position: absolute;
}
